{% extends "_base.html" %}

{% block content %}
<div class="bg-grey-lighter min-h-screen flex flex-col">
    <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-start px-2">
        <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full border-2 border-slate-50">
            <h1 class="mb-8 text-3xl text-center">Trouble Logging In?</h1>
            <p class="text-center">Enter your email address and we'll send you link to get you back into your account.
            </p>
            <form class="form-register" role="form" method="post" action="{{ url_for('auth.forgot_password') }}">
                {{ form.csrf_token }}
                <p><b>Email</b></p>
                {{
                form.email(
                class="teacher-register-input",
                placeholder="Email"
                )
                }}
                <span class="error text-red-500">
                    {% if form.email.errors %}
                    {% for error in form.email.errors %}
                    {{ error }}
                    {% endfor %}
                    {% endif %}
                </span>
                <button type="submit"
                    class="w-full text-center py-3 rounded bg-green-300 text-black hover:bg-green-600 focus:outline-none my-1">Login</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}