<turbo-frame id="loginForm" target="_top">
    <form role="form" method="post" action="{{ url_for('auth.login') }}">
        {{ form.csrf_token }}
        <p><b>Email</b></p>
        <turbo-frame id="login-email-errors">
        </turbo-frame>
        {{
        form.email(
        class="teacher-register-input",
        placeholder="Email"
        )
        }}
        <p><b>Password</b></p>
        <turbo-frame id="login-password-errors">
        </turbo-frame>
        {{
        form.password(
        class="teacher-register-input",
        placeholder="Password"
        )
        }}
        <button type="submit"
            class="w-full text-center py-3 rounded bg-green-300 text-black hover:bg-green-600 focus:outline-none my-1">Login</button>
    </form>
</turbo-frame>