{% extends "_base.html" %}

{% block content %}
<div class="bg-grey-lighter min-h-screen flex flex-col">
    <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-start px-2">
        <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full border-2 border-slate-50">
            <h1 class="mb-8 text-3xl text-center">Teacher Sign up</h1>
            <form class="form-register" role="form" method="post" action="{{ url_for('main.register') }}">
                {{ form.csrf_token }}
                <!-- <p>Select your role <b>(Teacher or Scientist)</b></p> -->
                <!-- this SelectField class is from https://tailwind-elements.com/docs/standard/forms/select/ -->
                <!-- {{ form.role(
                    class_ = "form-select form-select-lg mb-3
                    block
                    w-full
                    px-4
                    py-2
                    text-xl
                    font-normal
                    text-gray-700
                    bg-white bg-clip-padding bg-no-repeat
                    border border-solid border-gray-300
                    rounded
                    transition
                    ease-in-out
                    m-0
                    focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                ) }} -->
                <p class="block border border-grey-light w-full p-3 rounded mb-4">
                    {{ form.name(placeholder="Your Name") }}
                    <br/>
                    <span class="error text-red-500">
                        {% if form.name.errors %}
                        {% for error in form.name.errors %}
                            {{ error }}
                        {% endfor %}
                        {% endif %}
                    </span>
                </p>
                <p class="block border border-grey-light w-full p-3 rounded mb-4">
                    {{ form.email(placeholder="Primary Email") }}
                    <br/>
                    <span class="error text-red-500">
                        {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            {{ error }}
                        {% endfor %}
                        {% endif %}
                    </span>
                </p>
                <p class="block border border-grey-light w-full p-3 rounded mb-4">
                    {{ form.confirm_email(placeholder="Confirm Primary Email") }}
                    <br/>
                    <span class="error text-red-500">
                        {% if form.confirm_email.errors %}
                        {% for error in form.confirm_email.errors %}
                            {{ error }}
                        {% endfor %}
                        {% endif %}
                    </span>
                </p>
                <p class="block border border-grey-light w-full p-3 rounded mb-4">
                    {{ form.secondary_email(placeholder="Secondary Email") }}
                    <br/>
                    <span class="error text-red-500">
                        {% if form.secondary_email.errors %}
                        {% for error in form.secondary_email.errors %}
                            {{ error }}
                        {% endfor %}
                        {% endif %}
                    </span>
                </p>
                <p class="block border border-grey-light w-full p-3 rounded mb-4">
                    {{ form.confirm_secondary_email(placeholder="Confirm Secondary Email") }}
                    <br/>
                    <span class="error text-red-500">
                        {% if form.confirm_secondary_email.errors %}
                        {% for error in form.confirm_secondary_email.errors %}
                            {{ error }}
                        {% endfor %}
                        {% endif %}
                    </span>
                </p>
                <p class="block border border-grey-light w-full p-3 rounded mb-4">
                    {{ form.password(placeholder="Password") }}
                    <br/>
                    <span class="error text-red-500">
                        {% if form.password.errors %}
                        {% for error in form.email.errors %}
                            {{ error }}
                        {% endfor %}
                        {% endif %}
                    </span>
                </p>
                <p class="block border border-grey-light w-full p-3 rounded mb-4">
                    {{ form.confirm_password(placeholder="Confirm Password") }}
                    <br/>
                    <span class="error text-red-500">
                        {% if form.confirm_password.errors %}
                        {% for error in form.confirm_password.errors %}
                            {{ error }}
                        {% endfor %}
                        {% endif %}
                    </span>
                </p>
                <p class="block border border-grey-light w-full p-3 rounded mb-4">
                    {{ form.phone_number(placeholder="Phone Number") }}
                    <br/>
                    <span class="error text-red-500">
                        {% if form.phone_number.errors %}
                        {% for error in form.phone_number.errors %}
                            {{ error }}
                        {% endfor %}
                        {% endif %}
                    </span>
                </p>
                <p class="block border border-grey-light w-full p-3 rounded mb-4">
                    {{ form.school_district(placeholder="School District") }}
                    <br/>
                    <span class="error text-red-500">
                        {% if form.school_district.errors %}
                        {% for error in form.school_district.errors %}
                            {{ error }}
                        {% endfor %}
                        {% endif %}
                    </span>
                </p>
                <p class="block border border-grey-light w-full p-3 rounded mb-4">
                    {{ form.city(placeholder="City") }}
                    <br/>
                    <span class="error text-red-500">
                        {% if form.city.errors %}
                        {% for error in form.city.errors %}
                            {{ error }}
                        {% endfor %}
                        {% endif %}
                    </span>
                </p>
                <p class="block border border-grey-light w-full p-3 rounded mb-4">
                    {{ form.state(placeholder="State") }}
                    <br/>
                    <span class="error text-red-500">
                        {% if form.state.errors %}
                        {% for error in form.state.errors %}
                            {{ error }}
                        {% endfor %}
                        {% endif %}
                    </span>
                </p>
                <p class="block border border-grey-light w-full p-3 rounded mb-4">
                    {{ form.Country(placeholder="Country") }}
                    <br/>
                    <span class="error text-red-500">
                        {% if form.country.errors %}
                        {% for error in form.country.errors %}
                            {{ error }}
                        {% endfor %}
                        {% endif %}
                    </span>
                </p>
                <p class="block border border-grey-light w-full p-3 rounded mb-4">
                    {{ form.time_zone(placeholder="Time Zone") }}
                    <br/>
                    <span class="error text-red-500">
                        {% if form.time_zone.errors %}
                        {% for error in form.time_zone.errors %}
                            {{ error }}
                        {% endfor %}
                        {% endif %}
                    </span>
                </p>
                <p class="block border border-grey-light w-full p-3 rounded mb-4">
                    {{ form.monday_start_time(placeholder="Monday Start Time") }}
                    <br/>
                    <span class="error text-red-500">
                        {% if form.monday_start_time.errors %}
                        {% for error in form.monday_start_time.errors %}
                            {{ error }}
                        {% endfor %}
                        {% endif %}
                    </span>
                </p>
                <p class="block border border-grey-light w-full p-3 rounded mb-4">
                    {{ form.scientist_preferred_type(placeholder="Preferred scientist type") }}
                    <br/>
                    <span class="error text-red-500">
                        {% if form.scientist_preferred_type.errors %}
                        {% for error in form.scientist_preferred_type.errors %}
                            {{ error }}
                        {% endfor %}
                        {% endif %}
                    </span>
                </p>

                <button
                    type="submit"
                    class="w-full text-center py-3 rounded bg-green-300 text-black hover:bg-green-600 focus:outline-none my-1"
                >Create Account</button>
            </form>

            <div class="text-center text-sm text-grey-dark mt-4">
                By signing up, you agree to the 
                <a class="no-underline border-b border-grey-dark text-grey-dark" href="#">
                    Terms of Service
                </a> and 
                <a class="no-underline border-b border-grey-dark text-grey-dark" href="#">
                    Privacy Policy
                </a>
            </div>
        </div>

        <div class="text-grey-dark mt-6">
            Already have an account? 
            <a class="no-underline border-b border-blue text-blue" href="{{ url_for('main.login') }}">
                Log in
            </a>.
        </div>
    </div>
</div>

{% endblock %}